.gitignore
.npmignore

build.js
.babelrc

src/
demo/
static/
node_modules/
docs/
index.html

npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn-lock

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln