/* Dark mode colors. */
/* :root {
  --sl-color-accent-low: #26174b;
  --sl-color-accent: #781ff5;
  --sl-color-accent-high: #c9beff;
  --sl-color-white: #ffffff;
  --sl-color-gray-1: #efecf2;
  --sl-color-gray-2: #c4c0c7;
  --sl-color-gray-3: #8f8896;
  --sl-color-gray-4: #5c5561;
  --sl-color-gray-5: #3c3541;
  --sl-color-gray-6: #2a242f;
  --sl-color-black: #1a171c;
} */
/* Light mode colors. */
/* :root[data-theme='light'] {
  --sl-color-accent-low: #d7d0ff;
  --sl-color-accent: #7a23f8;
  --sl-color-accent-high: #371b70;
  --sl-color-white: #1f112a;
  --sl-color-gray-1: #34134c;
  --sl-color-gray-2: #472660;
  --sl-color-gray-3: #684784;
  --sl-color-gray-4: #9c7abb;
  --sl-color-gray-5: #cbbadc;
  --sl-color-gray-6: #f3e8ff;
  --sl-color-gray-7: #f9f4ff;
  --sl-color-black: #ffffff;
} */
